body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    min-width:300px;

}

#domain_values{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


