/* ... (previous styles) */
Title{
  display: block;
}




.hidden{
    display: none;
  }
.existingInput{
    display:flex;
    

}
.bottom{
  margin-bottom:10px;

}
  
  /* Style for existing group buttons */
  #existingGroups button {
    margin: 5px;
  }