/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    min-width:300px;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#dailyStats, #monthlyComparison, #domain-changed {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
